<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937149700463-mnqsjbu7eaug7167nto9covb6tm1revs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937149700463-mnqsjbu7eaug7167nto9covb6tm1revs</string>
	<key>API_KEY</key>
	<string>AIzaSyAKYYKbbUFmM2pyKN3MXlXZ09ivSO3MLX4</string>
	<key>GCM_SENDER_ID</key>
	<string>937149700463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cadeODinheiro</string>
	<key>PROJECT_ID</key>
	<string>cade-o-dinheiro</string>
	<key>STORAGE_BUCKET</key>
	<string>cade-o-dinheiro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937149700463:ios:5a404aec24d0aa0971f09a</string>
</dict>
</plist>